/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}

tower {
  enabled = true
}

process {
    executor = 'crg'
    maxRetries = 7

    queue = { (task.attempt < 4 ? 'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 'mem_512') 
            }
            
    // Process-specific resource requirements
    withLabel:process_low {
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 14.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
    }
    withLabel:process_medium {
        cpus = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 42.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
    }
    withLabel:process_high {
        cpus = { check_max( 12 * task.attempt, 'cpus' ) }
        memory = { check_max( 84.GB * task.attempt, 'memory' ) }
        time = { check_max( 16.h * task.attempt, 'time' ) }
    }
    withLabel:process_long {
        time = { check_max( 20.h * task.attempt, 'time' ) }
    }

}