/*
 * -------------------------------------------------
 *  Nextflow config file for running in Homfam dataset
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {
  config_profile_name = 'extHomfam dataset'
  config_profile_description = 'extHomfam dataset'
  
  // Input data
  seqs = '/users/cn/egarriga/datasets/extHomfam/combinedSeqs/*.fa'
  refs = '/users/cn/egarriga/datasets/extHomfam/refs/*.ref'
}
