/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {
  config_profile_name = 'Test TCoffee profile'
  config_profile_description = 'Minimal test dataset to check TCoffee pipeline function'

  // Limit resources so that this can run CI
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  seqs = 'https://raw.githubusercontent.com/edgano/datasets-test/tcoffee_protocols/sh3.fasta'
  refs = 'https://raw.githubusercontent.com/edgano/datasets-test/tcoffee_protocols/sh3_ref.aln'
  templates ='https://raw.githubusercontent.com/edgano/datasets-test/tcoffee_protocols/sh3.template_file'
  trees = false
}
tower {
  enabled = false
}