/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {
  config_profile_name = 'Test profile for nf-benchmark'
  config_profile_description = 'Minimal test dataset to check pipeline function inside nf-benchmark'

  // Limit resources so that this can run CI
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  //seqs = "/Users/jaespinosa/git/nf-benchmark/reference_dataset/*.tfa" //Only needed if the configuration is directly included in regressive_alignment
  //refs = "/Users/jaespinosa/git/nf-benchmark/reference_dataset/*.xml" //Only needed if the configuration is directly included in regressive_alignment

  // Params for nf-benchmark test
  regressive_align = false
  trees = false
  align_methods = 'CLUSTALO'
  evaluate = false

}

tower {
  enabled = false
}