/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {
  config_profile_name = 'Test profile for nf-benchmark'
  config_profile_description = 'Minimal test dataset to check pipeline function inside nf-benchmark'

  // Limit resources so that this can run CI
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  //seqs = "/Users/jaespinosa/git/nf-benchmark/reference_dataset/*.tfa" //Only needed if the configuration is directly included in regressive_alignment
  //refs = "/Users/jaespinosa/git/nf-benchmark/reference_dataset/*.xml" //Only needed if the configuration is directly included in regressive_alignment

  // Params for nf-benchmark test

  // Alignment settings production
  //regressive_align = false

  // Alignment settings testing
  regressive_align = true
  //progressive_align = false
  progressive_align = true
  slave_align = false

  trees = false // otherwise path to trees
  align_methods = 'CLUSTALO'
  //buckets = ""
  buckets = 5
  easel = false
  gapCount = false
  metrics = false
  dynamic_align = false
  pool_align = false
  homoplasy = false
  //refs = false

  //evaluate = false
  // For evaluation
  //evaluate = true
  seqs = 'https://raw.githubusercontent.com/edgano/datasets-test/homfam/seatoxin.fa'
  refs = 'https://raw.githubusercontent.com/edgano/datasets-test/homfam/seatoxin.ref'
}

tower {
  enabled = false
}